@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{margin: 0; padding: 0;font-family: 'Roboto', sans-serif;}
body{display: flex;flex-direction: column;align-items: center; background-color: #d7d7d7;}
#header{display: flex; flex-direction: column;align-items: center;}
section{margin: 30px 0;}
#header p, #header strong{color: #595959; font-weight: normal; font-style: italic;}
h2{text-align: center; font-style: italic; font-size: 20px; padding: 30px 20px; color: #8a8172;}
#qsn{display: flex; flex-direction: column; box-shadow: 3px 3px 3px grey; padding: 10px; background-color: white; width: 70%;}
section h1, #titre{text-align: center;font-size: 25px;padding: 10px;margin-bottom: 15px; background-color:#8a8172; box-shadow: 3px 3px 3px grey;color:#d7d7d7; text-transform: uppercase;}
#qsn img{width: 250px; border-radius: 3px;box-shadow: 3px 3px 3px beige;}
#qsn article{display: flex; align-items: center; justify-content: space-around;margin: 0px 20px;}
#qsn article img{width: 300px; height: 200px; margin : 10px 10px;box-shadow: 3px 3px 3px grey;  position: relative; right: 15px; bottom: 15px;}
#qsn article p{font-size: 18px; margin: 10px;}
footer{display: flex; justify-content: space-around; align-items: center; background-color: #8a8172; color: #d7d7d7;width: 70%; padding: 10px;}
footer article h3{margin-bottom: 10px; font-size: 25px; text-transform: capitalize;}
footer article h3 img{width: 20px; height: 20px; padding: 5px; position: relative; top: 5px;}
#qsn #para{margin: 50px; padding: 50px ;background-color: #605e5b; color: beige;}
#qsn #para a{color: #1daf90;}
#map {
   width: 350px;
   height: 250px;
   background-color: grey;
   margin: 20px;
   box-shadow: 3px 3px 3px grey;
 }










#titre{width: 70%;}
#navGallerie{display: flex; width: 95%;}
nav{}
nav ul{display: flex; flex-direction: column; justify-content: space-between;height: 300px;list-style-type: none; margin-top: 15px; width: 100%;text-align: center;}
nav ul a{text-decoration: none; padding: 15px; font-family:  'Montserrat', serrif; color: black;font-size: 20px;}
nav ul a:hover{background-color: #605e5b; color: white;}
#recrutons{ background-color: #1daf90; color:white; font-weight: bold;}
#navGallerie .Gallerie{width: 700px; height: 400px; margin: 0 auto; position: relative; right: 120px;}
#navGallerie .Gallerie img{width: 700px; height: 400px;}