*{margin: 0;border: 0;}
#navGallerie{display: flex;flex-direction: row;}
nav{display: flex;flex-direction: column;margin-right: 20px;background-color: #8a8172; align-items: center; justify-content: center}


nav ul{}
nav ul a{text-decoration: none;}
ul {list-style-type: none}
#navGallerie section{display: flex;}
#navGallerie .Gallerie{display: flex;width: 1500px;}
#navGallerie .Gallerie img{width: 200px;height: 200px}